<div *ngIf="author then known_author else unknown_author">Le contenu saisi ici sera ignoré.</div>
<ng-template #known_author>
    <div class="row m-1">
        <div class="col-md-6 col-sm-12">
            <h1>{{ author.name }}</h1>
            <p><span class='bi bi-quote'></span>{{ author.biographie }}</p>
        </div>
        <div class="col-md-6 col-sm-12">
            <h1>Bibliographie</h1>
            <div class="container-fluid row m-3">
                <app-article 
                    *ngFor="let article of this.articles" 
                    [article]="article" 
                    (deletedArticle)="deleteArticle($event)" 
                    class="col-md-6 col-sm-12" style="margin-bottom:5px;">
                </app-article>
            </div>
        </div>
    </div>
</ng-template> 
<ng-template #unknown_author>
    <div class="card">
        L'auteur est inconnu.
    </div>
</ng-template> 